@model ASI.Basecode.Services.ServiceModels.TicketViewModel

@{
    ViewData["Title"] = "Ticket Details";
}

<h1>Ticket Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Assigned Agent/Team
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.AgentName))
            {
                @Html.DisplayFor(model => model.AgentName)
            }
            else
            {
                @Html.DisplayFor(model => model.TeamName)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    <hr />
    <div style="margin-top: 20px, margin-left: 20px">
        <h2>Ticket History</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Modified By</th>
                    <th>Modified At</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in Model.TicketActivities)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => activity.ModifiedByName)</td>
                        <td>@Html.DisplayFor(modelItem => activity.ModifiedAt)</td>
                        <td>@Html.DisplayFor(modelItem => activity.OperationName)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="UserTickets">Back to List</a>
</div>
