@model IEnumerable<ASI.Basecode.Services.ServiceModels.TicketViewModel>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>    
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Created By
            </th>
            <th>
                Date Created
            </th> 
            <th>
                Assigned To
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.TeamName))
                {
                   @Html.DisplayFor(modelItem => item.TeamName)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.AgentName)
                }
            </td>
			<td>
				@if (string.IsNullOrEmpty(item.AgentName))
				{
					@Html.ActionLink("Assign", "Assign", new { id = item.TicketId })
				}
				else
				{
					@Html.ActionLink("Reassign", "Reassign", new { id = item.TicketId })
				}

				@Html.ActionLink("Details", "AdminDetails", new { id = item.TicketId })
			</td>
        </tr>
}
    </tbody>
</table>
