@model IEnumerable<ASI.Basecode.Services.ServiceModels.TicketViewModel>

@{
    ViewData["Title"] = "UserTickets";
}

<h1>UserTickets</h1>

<p>
    <a asp-action="UserCreate">Create New</a>
</p>

<p>
    Filter by Status:
    @foreach (var status in ViewBag.Statuses)
    {
        <a asp-action="UserTickets" asp-route-status="@status.Value" class="btn btn-primary">@status.Text</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Date Created
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorId)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "UserEdit", new { id= item.TicketId }) |
                @Html.ActionLink("Details", "UserDetails", new { id = item.TicketId }) |
                    @Html.ActionLink("Delete", "UserDelete", new { id = item.TicketId }, new { @class = "delete-link", onclick = "return confirm('Are you sure you want to delete this ticket?');" })
            </td>
        </tr>
}
    </tbody>
</table>
