@model ASI.Basecode.Services.ServiceModels.ArticleViewModel

@section styles {
    <link rel="stylesheet" href="~/css/user_tickets.css" />

}

<div class="ticket-modal1">
    @Html.HiddenFor(model => model.ArticleId)
    <div class="top_modal d-flex justify-content-between align-items-center mb-4">
        <button type="button" class="btn closebtn1" data-bs-dismiss="modal"><i class='bx bx-left-arrow-alt bx-sm icon' style="color: #45474B; cursor: pointer;"></i></button>
    </div>

    <div class="top-container mb-3 d-flex justify-content-between">

        <div class="nameDateContainer" style="margin-right: 5em;">
            <h5 class="name">@Html.DisplayFor(model => model.Title)</h5>
            <p class="email mb-4" style="font-size:12px;">Last Edited by:  @Html.DisplayFor(model => model.UpdatedBy)</p>
        </div>
        <div class="btn-group d-flex justify-content-end" style="height: 3.5em; width: 25em; font-size: 10px;">
            <button type="button" class="btn btn-danger me-1" data-bs-toggle="modal" data-bs-target="#edit" data-article-edit-btn data-article-id="@Model.ArticleId">
                <i class='bx bxs-edit bx-xs bx-fw' style="color: white; cursor: pointer;"></i> Edit Article
            </button>

            <button type="button" class="btn btn-danger" data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bx-dots-horizontal-rounded bx-sm icon' style="color: white; cursor: pointer;"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Download</a></li>
                <li><a class="dropdown-item" href="#">Add to my Favorites</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete" data-article-delete-btn data-article-id="@Model.ArticleId">Delete</a></li>
            </ul>
        </div>

    </div>

    <hr class="mb-4" />

    <h4 class="mb-2" style="margin-left: 0.5em;">@Html.DisplayFor(model => model.Title)</h4>
    <div style="padding: 1em;">
        <p class="article_details" style="overflow-y: auto; height: 20em; font-size: 14px;">
            @Html.DisplayFor(model => model.Body)
        </p>
    </div>
</div>