@model ASI.Basecode.Services.ServiceModels.ArticleViewModel

@section styles {
    <link rel="stylesheet" href="~/css/KnowledgeBase/Index.css" />
}

@{
    ViewData["Title"] = "Knowledge Base";
}

<div id="container">
    @if (ViewBag.RoleId == 1)
    {
        <header>
            <div class="logo">
                <img src="~/img/alliancedesk-logo.png" style="width: 185px;" alt="logo" onclick="window.location.href = '@Url.Action("Index", "Home")';">
            </div>

            <div class="header-buttons">

                <a asp-action="Index" asp-controller="Notification" class="mt-1"><i class='bx bx-bell bx-sm icon' style="color: #45474B; cursor: pointer;"></i></a>
                <i class='bx bx-cog bx-sm icon' style="color: #45474B; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#settings"></i>

                <a class="profile" href="#">
                    <img src="~/img/profile-logo.png" class="dpicn hover-pointer" alt="dp">
                </a>

                <ul class="dropdown" id="dropdownMenu">
                    <li>

                        <a class="dropdown-item" href="#"><i class="bx bx-user bx-xs bx-fw" style="color: #3D3B40;"></i> Profile</a>
                    </li>
                    <li>

                        <a class="dropdown-item" asp-action="SignOutUser" asp-controller="Account"><i class="bx bx-log-out bx-xs bx-fw" style="color: #3D3B40;"></i> Logout</a>
                    </li>
                </ul>

            </div>
        </header>
    }
    else
    {
        @Html.Partial("Agent_Header")
    }

    @if (ViewBag.RoleId == 1)
    {
        <div id="sidebar">

            <a asp-controller="Admin" asp-action="Dashboard" data-admin-btn class="inactive-button" style="text-decoration: none;"><i class='bx bx-grid-alt bx-sm as' style="align-self:center; text-decoration: none;"></i>  <p>Overview</p> </a>

            <a asp-controller="Admin" asp-action="Tickets" data-admin-btn class="inactive-button" style="text-decoration: none;"><i class='bx bx-purchase-tag-alt bx-sm as' style="align-self:center; text-decoration: none;"></i> <p>Tickets</p> </a>

            <a asp-controller="Admin" asp-action="ViewUser" data-admin-btn class="inactive-button" style="text-decoration: none;"><i class='bx bx-group bx-sm as' style="align-self:center; text-decoration: none;"></i> <p>Directory</p> </a>

            <a asp-controller="Article" asp-action="Index" data-admin-btn class="active-button" style="text-decoration: none;"><i class='bx bx-group bx-sm as' style="align-self:center; text-decoration: none;"></i> <p>Knowledge Base</p> </a>

            <a asp-controller="Admin" asp-action="AnalyticsOverallMetrics" data-admin-btn class="inactive-button" style="text-decoration: none;"><i class='bx bx-objects-vertical-bottom bx-sm as' style="align-self:center; text-decoration: none;"></i> <p>Analytics</p> </a>

        </div>
    }
    else
    {
        <div id="sidebar">

            <a asp-controller="Agent" asp-action="Dashboard" data-admin-btn class="inactive-button" style="text-decoration: none;"><i class='bx bx-grid-alt bx-sm as' style="align-self:center; text-decoration: none;"></i>  <p>Overview</p> </a>

            <a asp-controller="Agent" asp-action="Teams" data-admin-btn class="inactive-button" style="text-decoration: none;"><i class='bx bx-group bx-sm as' style="align-self:center; text-decoration: none;"></i> <p>Team</p> </a>

            <a asp-controller="Article" asp-action="Index" data-admin-btn class="active-button" style="text-decoration: none;"><i class='bx bx-group bx-sm as' style="align-self:center; text-decoration: none;"></i> <p>Knowledge Base</p> </a>

        </div>
    }


    <nav>

        <div class="nav_one mb-3">

            <h3>Knowledge Base</h3>

            <div class="add_button">

                <div class="btn-group">
                    <button type="button" class="btn btn-danger me-1" data-bs-toggle="modal" data-bs-target="#create" id="addArticleBtn">Add Article</button>
                </div>

            </div>

        </div>

        <div class="nav_two">
            <div class="d-flex" style="gap:2em;">
                <a class="active_link" asp-controller="Article" asp-action="Index" style="text-decoration: none;">Articles</a>
                <a class="inactive_link" asp-controller="Article" asp-action="MyFavorites" style="text-decoration: none;">
                    My Favorites
                    @if (ViewBag.FavoriteCount != null && ViewBag.FavoriteCount > 0)
                    {
                        <span>(@ViewBag.FavoriteCount)</span>
                    }
                </a>
            </div>

            <div class="filter_button">

                <form asp-action="Index" method="get" asp-controller="Article" id="searchForm" class="d-flex">
                    <div class="input-group mr-3">
                        <button class="btn btn-outline-secondary" type="submit" id="button-search" style="background-color: whitesmoke; border: 1px solid #ccc; outline: none; box-shadow: none;"><i class='bx bx-search bx-xs bx-fw' style="color: #45474B; cursor: pointer;"></i></button>
                        <input name="searchString" id="searchInput" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-search" style="background-color: whitesmoke; border: 1px solid #ccc; outline: none; box-shadow: none;" value="@ViewBag.SearchString">
                    </div>
                
                    @Html.DropDownList("category", new Microsoft.AspNetCore.Mvc.Rendering.SelectList(new List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>
                    {
                    new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = "Default", Value = "default" },
                    new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = "Technical", Value = "Technical" },
                    new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = "Billing", Value = "Billing" },
                    new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = "General Questions", Value = "General Questions" },
                    new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = "Account Management", Value = "Account Management" },
                    new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = "Customer Support", Value = "Customer Support" },
                    new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = "Others", Value = "Others" }
                    }, "Value", "Text", ViewBag.CategoryString), new { @class = "form-select", @aria_label = "Default select example", @style = "width: 16em; outline: none; box-shadow: none; border: 1px solid #ccc; background-color: whitesmoke;", @onchange = "document.getElementById('searchForm').submit();" })
                </form>
            </div>
        </div>
    </nav>
        
    <main>
        @foreach (var item in Model.Articles){
            <a href="#" class="link_card" style="text-decoration: none; color: inherit;">
                <div class="article_card" data-bs-toggle="modal" data-bs-target="#detail" data-article-detail-btn data-article-id="@item.ArticleId">
                    <div class="article_top mb-4">
                        <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p>@Html.DisplayFor(modelItem => item.DateUpdated)</p>
                    </div>

                    <p class="mb-3" style="font-size: 14px;">@Html.DisplayFor(modelItem => item.Body)</p>

                    <h6 class="article_category" style="width: 14em; text-align: center;">@Html.DisplayFor(modelItem => item.CategoryNavigation)</h6>
                    
                </div>
            </a>
        }
    </main>
    
</div>

<div class="modal fade" id="create" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- The content for Create Article Modal will be loaded here-->
        </div>
    </div>
</div>

<div class="modal fade" id="detail" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- The content for Article Detail Modal will be loaded here-->
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- The content for Article Edit Modal will be loaded here-->
        </div>
    </div>
</div>

<div class="modal fade" id="delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- The content for Article Edit Modal will be loaded here-->
        </div>
    </div>
</div>

@Html.Partial("SettingsModal")


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dpIcon = document.querySelector('.dpicn');
        var dropdownMenu = document.getElementById('dropdownMenu');

        dpIcon.addEventListener('click', function (event) {
            event.stopPropagation();

            if (dropdownMenu.style.display === 'block') {
                dropdownMenu.style.display = 'none';
            } else {
                dropdownMenu.style.display = 'block';
            }
        });

        var addArticleBtn = document.getElementById('addArticleBtn');
        
        addArticleBtn.addEventListener('click', function () {
            //Perform AJAX request here
            $.ajax({
                url: '/KnowledgeBase/Add-Article',
                type: 'GET',
                success: function (result) {
                    $('#create .modal-content').html(result);
                    $('#create').modal('show');
                    // Handle success response
                    // You can update the UI or process data here
                    console.log('Article Add successfully loaded!');
                },
                error: function (error) {
                    // Handle error response
                    console.error('Error adding article:', error);
                }
            });
        });

        $(document).on('click', '[data-article-detail-btn]', function () {
            var articleId = $(this).data('article-id');

            // Perform AJAX request to fetch article details
            $.ajax({
                url: '/KnowledgeBase/Article-Detail',
                type: 'GET',
                data: { articleId: articleId },
                success: function (result) {
                    $('#detail .modal-content').html(result);
                    $('#detail').modal('show');
                    console.log('Article details successfully loaded!');
                },
                error: function (error) {
                    console.error('Error loading article details:', error);
                }
            });
        });
       
        $(document).on('click', '[data-article-edit-btn]', function () {
            var articleId = $(this).data('article-id');

            // Perform AJAX request to fetch article details
            $.ajax({
                url: '/KnowledgeBase/Article-Edit',
                type: 'GET',
                data: { articleId: articleId },
                success: function (result) {
                    $('#edit .modal-content').html(result);
                    $('#edit').modal('show');
                    console.log('Article details successfully loaded!');
                },
                error: function (error) {
                    console.error('Error loading article details:', error);
                }
            });
        });

        $(document).on('click', '[data-article-delete-btn]', function () {
            var articleId = $(this).data('article-id');

            // Perform AJAX request to fetch article details
            $.ajax({
                url: '/KnowledgeBase/Article-Delete',
                type: 'GET',
                data: { articleId: articleId },
                success: function (result) {
                    $('#delete .modal-content').html(result);
                    $('#delete').modal('show');
                    console.log('Article details successfully loaded!');
                },
                error: function (error) {
                    console.error('Error loading article details:', error);
                }
            });
        });

        $(document).on('click', '[data-article-addFavorites-btn]', function () {
            var articleId = $(this).data('article-id');

            // Perform AJAX request to fetch article details
            $.ajax({
                url: '/KnowledgeBase/Article-AddFavorite',
                type: 'Post',
                data: { articleId: articleId },
                success: function (result) {
                    alert('Article added to favorites successfully!');
                },
                error: function (error) {
                    console.error('Error loading article details:', error);
                }
            });
        });

        $(document).on('click', '[data-article-removeFavorites-btn]', function () {
            var articleId = $(this).data('article-id');

            // Perform AJAX request to fetch article details
            $.ajax({
                url: '/KnowledgeBase/Article-DeleteFavorite',
                type: 'Post',
                data: { articleId: articleId },
                success: function (result) {
                    alert('Article remove from favorites successfully!');
                },
                error: function (error) {
                    console.error('Error loading article details:', error);
                }
            });
        });
    });

</script>