@model ASI.Basecode.Services.ServiceModels.NotificationServiceModel

@{
    ViewData["Title"] = "Notification";
}
@section styles {
    <link rel="stylesheet" href="~/css/notification.css" /> 
}

@if (ViewBag.Role == 2)
{
    @Html.Partial("Agent_Header")
}
else if (ViewBag.Role == 1) {
    @Html.Partial("Admin_Header")
}

<div @(ViewBag.Role == 3 ? "id=container" : "class=main")>
    @if (ViewBag.Role == 3)
    {
        <header>
            <div class="logo">
                <img src="~/img/alliancedesk-logo.png" style="width: 185px;" alt="logo" onclick="window.location.href = '@Url.Action("Index", "Home")';">
            </div>

            <div class="header-buttons">
                <button type="button" class="btn button" data-bs-toggle="modal" data-bs-target="#createTicket"><i class='bx bx-plus-circle bx-xs bx-fw uh' style="align-self:center;"></i> Create Ticket </button>
                <a asp-action="Index" asp-controller="Notification"><i class='bx bx-bell bx-sm icon' style="color: #45474B; cursor: pointer;"></i></a>
                <i class='bx bx-cog bx-sm icon' style="color: #45474B; cursor: pointer;"></i>

                <a class="profile" href="#">
                    <img src="~/img/profile-logo.png" class="dpicn hover-pointer" alt="dp">
                </a>

                <ul class="dropdown" id="dropdownMenu">
                    <li>

                        <a class="dropdown-item" href="#"><i class="bx bx-user bx-xs bx-fw" style="color: #3D3B40;"></i> Profile</a>
                    </li>
                    <li>

                        <a class="dropdown-item" asp-action="SignOutUser" asp-controller="Account"><i class="bx bx-log-out bx-xs bx-fw" style="color: #3D3B40;"></i> Logout</a>
                    </li>
                </ul>

            </div>
        </header>
    
        <div id="sidebar">

        <div id="search-container">
            <i class='bx bx-search'></i>
            <input type="text" id="search-input" placeholder="Search Tickets">
        </div>

        <a asp-action="Tickets" asp-controller="User" id="button-container">
            <i class='bx bx-list-ul'></i>
            <span class="label-1">Tickets</span>
        </a>

        <div id="instruction-container">

            <div class="instruction-label">
                <i class='bx bx-star'></i>
                <span class="label-2">Instructions</span>
            </div>

            <hr />

            <div class="instruction-detail">
                <ul>
                    <li>&#8226; Click the 'Create Ticket'</li>
                    <li>&#8226; Enter the necessary details</li>
                    <li>&#8226; Submit if done</li>
                </ul>
            </div>

            <div class="instruction-label">
                <i class='bx bx-link'></i>
                <span class="label-2">Contacts</span>
            </div>

            <hr />

            <div class="instruction-detail">
                <ul>
                    <li>&#8226; abellalance2@gmail.com</li>
                    <li>&#8226; jethrocenas@gmail.com</li>
                    <li>&#8226; rehamdee.camama@g.msuiit.edu.ph</li>
                </ul>
            </div>

        </div>

        </div>

        <main>
            <div class="card-body">
                <div class="top-content">
                    <h3>Notifications</h3>
                </div>

                <div class="card-content" id="card_content">
                    @foreach (var item in Model.UserNotifications)
                    {
                        <a href="#" class="link_card" style="text-decoration: none; color: inherit;">
                            <div class="notification-container" data-bs-toggle="modal" data-bs-target="#viewNotification" user-notif-btn data-notification-id="@item.NotificationId">
                                <h6 class="notification_title">Ticket Number #@item.TicketNumber</h6>
                                <h6 class="notification_title">@item.Title</h6>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </main>
        <nav>

        </nav>
    }
    else if (ViewBag.Role == 2) 
    {
        @Html.Partial("Agent_Sidebar")
        <div class="admin-body p-y-3 relative bg-grey flex flex-col gap-1">
            <div class="card-body">
                <div class="top-content">
                    <h3>Notifications</h3>
                    <i class='bx bx-x'></i>
                </div>

                <div class="card-content" id="card_content">
                    @foreach (var item in Model.UserNotifications)
                    {
                        <div class="notification-container">
                            <h6 class="notification_title">@item.Title</h6>

                            @* <a href="@item.Link" class="notification-link" data-bs-toggle="modal" data-bs-target="#viewNotification">Preview</a> *@
                        </div>
                    }
                </div>

            </div>

            <div class="modal fade" id="viewNotification" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content p-3">
                        <div id="main_createcard">

                            <div class="top_modal d-flex justify-content-between align-items-center mb-3">
                                <h3>Notification 1</h3>
                                <button type="button" class="btn" data-bs-dismiss="modal"><i class='bx bx-x bx-sm icon' style="color: #45474B; cursor: pointer;"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    } else
    {
        @Html.Partial("Admin_Sidebar")
        <div class="admin-body p-y-3 relative bg-grey flex flex-col gap-1">
            <div class="card-body">
                <div class="top-content">
                    <h3>Notifications</h3>
                    <i class='bx bx-x'></i>
                </div>

                <div class="card-content" id="card_content">
                    @foreach (var item in Model.UserNotifications)
                    {
                        <div class="notification-container">
                            <h6 class="notification_title">@item.Title</h6>
                            @* <a href="@item.Link" class="notification-link" data-bs-toggle="modal" data-bs-target="#viewNotification">Preview</a> *@
                        </div>
                    }
                </div>

            </div>

            <div class="modal fade" id="viewNotification" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content p-3">
                        <div id="main_createcard">

                            <div class="top_modal d-flex justify-content-between align-items-center mb-3">
                                <h3>Notification 1</h3>
                                <button type="button" class="btn" data-bs-dismiss="modal"><i class='bx bx-x bx-sm icon' style="color: #45474B; cursor: pointer;"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="notif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <!-- The content for Create Article Modal will be loaded here-->
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(document).on('click', '[user-notif-btn]', function () {
            var notificationId = $(this).data('notification-id');

            // Perform AJAX request to fetch article details
            $.ajax({
                url: '/Notification/DetailModal',
                type: 'GET',
                data: { notificationId: notificationId },
                success: function (result) {
                    $('#notif .modal-content').html(result);
                    $('#notif').modal('show');
                    console.log('Notification details successfully loaded!');
                },
                error: function (error) {
                    console.error('Error loading article details:', error);
                }
            });
        });
        
        var dpIcon = document.querySelector('.dpicn');
        var dropdownMenu = document.getElementById('dropdownMenu');

        dpIcon.addEventListener('click', function (event) {
            event.stopPropagation();

            if (dropdownMenu.style.display === 'block') {
                dropdownMenu.style.display = 'none';
            } else {
                dropdownMenu.style.display = 'block';
            }
        });
    });
</script>

