@model ASI.Basecode.Services.ServiceModels.TicketViewModel

@{
    ViewData["Title"] = "Tickets";
    Layout = "_Layout"; 
}
@section styles {
    <link rel="stylesheet" href="~/css/functionalities.css" />
    <link rel="stylesheet" href="~/css/Admin.css" />
}

@Html.Partial("Admin_Header")
<div class="main">
    @Html.Partial("Admin_Sidebar") 
    <div class="admin-body py-3 relative bg-grey flex flex-col gap-1">

        <div class="view-user-nav mb-4">
            <div class="flex-Row justify-content-between align-items-center gap-1 ml-2">
                <a asp-controller="Admin" asp-action="Tickets" asp-route-id=""><i class="bx bx-left-arrow-alt" style="color: #45474B; transform: scale(1.5)"></i></a>
            </div>

            <h2 class="mb-2">@Model.TicketNumber</h2>

            @if(Model.StatusId != 4 && Model.StatusId != 5)
            {
                <div class="flex-Row justify-content-between align-items-center gap-3">
                    <a data-admin-btn class="registerBtn color-white" href="#" data-bs-toggle="modal" data-bs-target="#updatePrio">Update Priority</a>

                    @if (Model.AgentName == "Unknown")
                    {
                        <a asp-controller="Admin" asp-action="TicketAssignment" asp-route-id="@Model.TicketId" class="registerBtn color-white">Assign Ticket</a>
                    }
                    else
                    {
                        <a asp-controller="Admin" asp-action="TicketAssignment" asp-route-id="@Model.TicketId" class="registerBtn color-white">Reassign Ticket</a>
                    }
                </div>
            }
            
        </div>

        <div class="h-29 px-5 py-4 br-1 bg-white gap-1 overflow-auto"> 
            <div class="flex flex-Row justify-content-between align-items-center">
                <h2 class="mb-2">@Model.Title</h2>
                <div class="  tag-border  p-x-1 py-1" style="border-radius: 10px; color: #E21818; border-color: #E21818;">@Model.Status</div>
            </div>
            <div class="flex-Row justify-content-between w-100 mb-2">
                <div class="flex-Row gap-0-5">
                    <div class="ticket-tag | tag-border bg-btn-grey p-x-1 br-1 text-sm">@Model.Category</div>
                    <div class="ticket-tag | tag-border bg-btn-grey p-x-1 br-1 text-sm">@Model.Priority</div>
                    
                </div>                
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.AgentName))
            {
                <p class="mb-4 agent_assigned">Assigned to: @Model.AgentName</p>
            }
            
            <p class="mb-3">@Model.Description</p>
            @* <button class="registerBtn mbtn-primary align-self-start">@Model.Status</button> *@

            @if (!string.IsNullOrWhiteSpace(Model.AgentName)) {
                @* <button class="registerBtn mbtn-primary align-self-start">@Model.AgentName</button> *@
                @* <div class="pr-5 pl-5 pt-2 pb-2 agent_name">
                    <span class="label">Agent</span>  @Model.AgentName
                </div> *@
            }
        </div>
    </div>
</div>

@Html.Partial("TicketUpdatePrio")