@model IEnumerable<ASI.Basecode.Services.ServiceModels.TicketViewModel>

@{
    ViewData["Title"] = "Tickets";
    Layout = "_Layout";

}

@section styles {
    <link rel="stylesheet" href="~/css/functionalities.css" />
    <link rel="stylesheet" href="~/css/Admin.css" />
}

@Html.Partial("Admin_Header")
<div class="main">
    @Html.Partial("Admin_Sidebar")
    <div class="admin-body p-y-3 relative bg-grey">
        <h2>Tickets</h2>
        <div class="view-user-nav">
                <div class="agent-nav pt-4">
                    <ul class="flex-Row gap-4">
                    <li class="@(ViewBag.ShowStatus == null ? "active" : "")" >
                        <a asp-controller="Admin" asp-action="Tickets" style="@(ViewBag.ShowStatus == null ? "color: red;" : "color: black;")">All</a>
                        </li>
                    <li class="@(ViewBag.ShowStatus == "Unresolved" ? "active" : "")" >
                        <a asp-controller="Admin" asp-action="Tickets" asp-route-status="Unresolved" style="@(ViewBag.ShowStatus == "Unresolved" ? "color: red;" : "color: black;")">Unresolved</a>
                        </li>
                    <li class="@(ViewBag.ShowStatus == "Resolved" ? "active" : "")" >
                        <a asp-controller="Admin" asp-action="Tickets" asp-route-status="Resolved" style="@(ViewBag.ShowStatus == "Resolved" ? "color: red;" : "color: black;")">Resolved</a>
                        </li>
                    </ul>
                </div>
            
            <div class="flex-Row gap-2 justify-content-center align-center mb-5">
                <div class="input-group">
                    <button class="btn btn-outline-secondary" type="submit" id="button-search" style="background-color: whitesmoke; border: 1px solid #ccc;"><i class='bx bx-search bx-xs bx-fw' style="color: #45474B; cursor: pointer;"></i></button>
                    <input name="searchString" id="searchInput" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-search" style="background-color: whitesmoke; border: 1px solid #ccc;">
                </div>
                <button class=" flex-Row gap-1 color-black bg-btn-grey align-center  border-0 p-x-1" data-admin-add-btn>
                    <i class="fa-solid fa-filter"></i>
                    <p class="br-1-5 p-y-1">Filter</p>
                </button>
            </div>
        </div>
        <div class="flex-col rounded-md">
            @foreach (var item in Model)
            {
                <button onclick="window.location.href = '@Url.Action("Tickets", "Admin", new { id = item.TicketId })'" class=" agents cursor-pointer p-y-1 p-x-1 flex-col ">
                        <p class="text-1-5 fw-semi">@item.Title</p>
                        <p class="text-1-5 fw-semi">@item.RelativeTime)</p>
                        <p>@item.Description</p>
                </button>
            }
        </div>
    </div>
</div>