@model ASI.Basecode.Services.ServiceModels.UserViewModel

<div class="modal-container br-1 bg-white p-y-1 p-x-2" data-modal-edit-form>
    <form asp-action="AgentEdit" class="modal-container br-1 bg-white p-y-1 p-x-2">
        @Html.HiddenFor(model => model.UserId) <!-- Add this line to include the hidden field for UserId -->
        <div class="flex-Row justify-content-between">
            <h2>Edit User</h2>
            <i class="text-md fa-regular fa-circle-xmark hover-pointer" data-admin-edit-close-btn></i>
        </div>
        <div class="agents-details | margin-1 bg-white flex-Row gap-2 flex-between p-y-1 p-x-1 align-center">
            <div class="flex-Row gap-1">
                <div class="user-img-profile br-50 bg-grey"></div>
                <div class="flex-col justify-content-center align-center">
                    <p class="fw-semi">@Html.DisplayFor(model => model.Name)</p>
                    <p class="text-sm">@Html.DisplayFor(model => model.Email)</p>
                </div>
            </div>
            <div class="delete-btn fw-semi cursor-pointer" data-admin-delete-btn>
                DELETE ACCOUNT
            </div>
        </div>
        <div class="modal-input-container">
            <label class="modal-input relative flex">
                <span>Full Name</span>
                <input asp-for="Name" type="text" placeholder="@Html.DisplayFor(model => model.Name)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </label>
            <label class="modal-input relative flex">
                <span>UserName</span>
                <input asp-for="UserName" type="text" placeholder="@Html.DisplayFor(model => model.UserName)" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </label>
            <label class="modal-input relative flex">
                <span>Email</span>
                <input asp-for="Email" type="text" placeholder="@Html.DisplayFor(model => model.Email)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </label>
            <label class="modal-input relative flex">
                <span>Password</span>
                <input asp-for="Password" type="text" placeholder="@Html.DisplayFor(model => model.Password)" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </label>
            <label class="modal-input relative flex">
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.UserRoles">
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </label>
            <label class="modal-input relative flex">
                <select asp-for="TeamId" class="form-control" asp-items="ViewBag.Teams">
                </select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </label>
        </div>
        <div class="flex-Row gap-1">
            <button type="button" class="color-white bg-btn-accent align-center justify-content-center border-0 p-y-0-5 p-x-1 br-1-5" data-admin-edit-cancel-btn>Cancel</button>
            <button class="mbtn-primary color-white bg-red align-center justify-content-center border-0 p-y-0-5 p-x-1 br-1-5" data-admin-edit-save-btn type="submit">Save</button>
        </div>
    </form>
</div>
