@model ASI.Basecode.Services.ServiceModels.UserViewModel

@{
    ViewData["Title"] = "Agent Profile";
    Layout = "_Layout"; 
}

@section styles {
    <link rel="stylesheet" href="~/css/functionalities.css" />
    <link rel="stylesheet" href="~/css/Admin.css" />
}

@Html.Partial("Agent_Header")
<div>
    @* @Html.Partial("Agent_Sidebar") *@
    <div class="  relative bg-grey flex flex-col gap-1">
        <div class=" bg-modal vh-100 w-100 flex-row justify-content-center align-items-center" style="display: flex;" data-admin-modal-container>
            <form class="modal-container w-75 br-1 bg-white p-y-1 p-x-2" asp-action="AgentProfile" method="post" data-profile-edit-form>
                @Html.HiddenFor(model => model.UserId)
                <div class="agents-details | margin-1 bg-white flex-Row gap-2 flex-between p-y-1 p-x-1 align-center">
                    <div class="flex flex-col gap-4">
                        <h2>Agent Profile</h2>
                        <div class="flex-Row gap-1">
                            <div class="user-img-profile br-50 bg-grey"></div>
                            <div class="flex-col justify-content-center align-center">
                                <p class="fw-semi">@Model.Name</p>
                                <p class="text-sm">@Model.Email</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <a asp-action="PerformanceReport" data-td-none asp-controller="Agent">
                            <div class="generate-report-btn fw-semi cursor-pointer"  data-admin-delete-btn>
                                GENERATE REPORT
                            </div>
                        </a>
                        <div class="delete-btn fw-semi cursor-pointer" data-admin-delete-btn>
                            DELETE ACCOUNT
                        </div>
                    </div>
                </div>
                <div class="modal-input-container">
                    <label class="modal-input relative flex">
                        <span>First Name</span>
                        <input type="text" name="FirstName" value="@Model.Name" placeholder="John" />
                    </label>
                    <label class="modal-input relative flex">
                        <span>UserName</span>
                        <input asp-for="UserName" type="text" value="@Model.UserName" placeholder="" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </label>
                    <label class="modal-input relative flex">
                        <span>Email</span>
                        <input type="email" name="Email" value="@Model.Email" placeholder="johndoe@gmail.com" />
                    </label>
                    <label class="modal-input relative flex">
                        <span>Role</span>
                        <select asp-for="RoleId" class="pl-2" asp-items="ViewBag.UserRoles">
                            <option selected disabled hidden  value="">-- Select Role --</option>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </label>
                    <label class="modal-input relative flex">
                        <span>Password</span>
                        <input asp-for="Password" type="password" placeholder="@Html.DisplayFor(model => model.Password)" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </label>
                    <label class="modal-input relative flex">
                        <span>Confirm Password</span>
                        <input asp-for="Password" type="password" placeholder="@Html.DisplayFor(model => model.Password)" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </label>
                </div>
                <div class="flex-Row gap-2 w-100 justify-content-center">
                    <button type="button" class="color-white bg-btn-accent align-center justify-content-center border-0 p-y-0-5 p-x-1 br-1-5" data-admin-edit-cancel-btn>Cancel</button>
                    <button type="submit" class="mbtn-primary color-white bg-red align-center justify-content-center border-0 p-y-0-5 p-x-1 br-1-5" data-admin-edit-save-btn>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const teams = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        console.log("TEAMS", teams)

        //POST req for submitting form when user details are edited
        $(document).on('submit', '[data-profile-edit-form]', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: '/AgentProfileEdit',
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    // Handle successful form submission, such as closing the modal and updating the list
                    alert('User updated successfully');
                },
                error: function (xhr, status, error) {
                    console.error('Error submitting form:', status, error);
                }
            });
        });
    </script>

}